In [1]:
import pandas as pd

import os
import warnings
warnings.filterwarnings('ignore')

In [ ]:
os.chdir(r"C:\Users\Khangjrakpam Arjun\OneDrive - McKinsey & Company\Documents\ARJUN\ML\COMPETITIONS\Amex\amex-default-prediction\archive")
os.getcwd()

train = pd.read_parquet('train.parquet')
test = pd.read_parquet('test.parquet')
#df = df.groupby('name').mean()  # reduce data significantly
              # continue on with Pandas/NumPy

In [2]:
# import the train and test data which are imputed using their median 
os.chdir(r"C:\Users\Khangjrakpam Arjun\OneDrive - McKinsey & Company\Documents\ARJUN\ML\COMPETITIONS\Amex\amex-default-prediction\preprocessed_data")
try:
    
    train = pd.read_parquet("train.parquet")
    test = pd.read_parquet("test.parquet")
    # other stuff on the content...
except IOError:
    print("error")
    # handle the error

In [3]:
target = pd.read_csv(r'C:\Users\Khangjrakpam Arjun\OneDrive - McKinsey & Company\Documents\ARJUN\ML\COMPETITIONS\Amex\amex-default-prediction\train_labels.csv')
train = pd.merge(
    target,
    train,
    how="inner",
    on=None,
    left_on='customer_ID',
    right_on='customer_ID',
    left_index=False,
    right_index=False,
    sort=True,
    suffixes=("_x", "_y"),
    copy=True,
    indicator=False,
    validate=None,
)

In [ ]:
for i in train.columns:
    print(i)

In [4]:
#features = train.drop(['customer_ID', 'S_2', 'target'], axis=1).columns.to_list()
features = train.drop(['customer_ID',  'target'], axis=1).columns.to_list()
cat_features = [
        'D_48','B_9',
         'D_58',
         'D_44',
         'B_7',
         'B_3',
         'B_4',
         'B_1', 'B_22','R_1',
         'B_8',
         'S_3',
         'D_61',
         'R_3',
         'D_70',
         'D_66',
         'D_68',
         'B_30',
         'B_31',
         'B_38',
         'D_114',
         'D_116',
         'D_117',
         'D_120',
         'D_126',
         'D_63',
         'D_64',
]

num_features = [col for col in features if col not in cat_features]

In [6]:
train_num_agg = train.groupby("customer_ID")[num_features].agg(['mean', 'std', 'min', 'max', 'last','median'])
train_num_agg.columns = ['_'.join(x) for x in train_num_agg.columns]
train_cat_agg = train.groupby("customer_ID")[cat_features].agg(['count', 'last', 'nunique'])
train_cat_agg.columns = ['_'.join(x) for x in train_cat_agg.columns]
train_target = (train.groupby("customer_ID").tail(1).set_index('customer_ID', drop=True).sort_index()["target"])
train = pd.concat([train_num_agg, train_cat_agg, train_target], axis=1)
train.reset_index(inplace = True)
train.to_pickle("../preprocessed_data/train_agg_imputed_with_median.pkl")

In [15]:
import gc
gc.collect()

0

In [8]:
test_num_agg = test.groupby("customer_ID")[num_features].agg(['mean', 'std', 'min', 'max', 'last','median'])
test_num_agg.columns = ['_'.join(x) for x in test_num_agg.columns]
test_cat_agg = test.groupby("customer_ID")[cat_features].agg(['count', 'last', 'nunique'])
test_cat_agg.columns = ['_'.join(x) for x in test_cat_agg.columns]
test = pd.concat([test_num_agg, test_cat_agg], axis=1)
test.reset_index(inplace = True)

test.to_pickle("../preprocessed_data/test_agg_imputed_with_median.pkl")

In [17]:
train.to_pickle("../preprocessed_data/train_agg_imputed_with_median.pkl")

In [18]:
test.to_pickle("../preprocessed_data/test_agg_imputed_with_median.pkl")

In [10]:
test.shape

(924621, 1047)

In [11]:
train.head()

,B_10_mean,B_10_std,B_10_min,B_10_max,B_10_last,B_10_median,B_11_mean,B_11_std,B_11_min,B_11_max,...,D_126_count,D_126_last,D_126_nunique,D_63_count,D_63_last,D_63_nunique,D_64_count,D_64_last,D_64_nunique,target
customer_ID,,,,,,,,,,,,,,,,,,,,,
0000099d6bd597052cdcda90ffabf56573fe9d7c79be5fbac11a8ed792feb62a,0.316065,NaN,0.316065,0.316065,0.316065,0.316065,0.008733,NaN,0.008733,0.008733,...,1,2.0,1,1,0.0,1,1,0.0,1,0
00000fd6641609c6ece5454664794f0340ad84dddce9a267a310b5ae68e9d8e5,0.299325,NaN,0.299325,0.299325,0.299325,0.299325,0.008047,NaN,0.008047,0.008047,...,1,2.0,1,1,3.0,1,1,0.0,1,0
00001b22f846c82c51f6e3958ccd81970162bae8b007e80662ef27519fcc18c1,0.300219,NaN,0.300219,0.300219,0.300219,0.300219,0.005092,NaN,0.005092,0.005092,...,1,2.0,1,1,3.0,1,1,2.0,1,0
000041bdba6ecadd89a52d11886e8eaaec9325906c9723355abb5ca523658edc,0.302809,NaN,0.302809,0.302809,0.302809,0.302809,0.011032,NaN,0.011032,0.011032,...,1,2.0,1,1,3.0,1,1,0.0,1,0
00007889e4fcd2614b6cbe7f8f3d2e5c728eca32d9eb8ad51ca8b8c4a24cefed,0.058786,NaN,0.058786,0.058786,0.058786,0.058786,0.004283,NaN,0.004283,0.004283,...,1,2.0,1,1,3.0,1,1,0.0,1,0

In [13]:
test.head()

,customer_ID,B_10_mean,B_10_std,B_10_min,B_10_max,B_10_last,B_10_median,B_11_mean,B_11_std,B_11_min,...,D_120_nunique,D_126_count,D_126_last,D_126_nunique,D_63_count,D_63_last,D_63_nunique,D_64_count,D_64_last,D_64_nunique
0,00000469ba478561f23a92a868bd366de6f6527a684c9a...,0.037407,NaN,0.037407,0.037407,0.037407,0.037407,0.004565,NaN,0.004565,...,1,1,1.0,1,1,0.0,1,1,3.0,1
1,00001bf2e77ff879fab36aa4fac689b9ba411dae63ae39...,0.298732,NaN,0.298732,0.298732,0.298732,0.298732,0.024865,NaN,0.024865,...,1,1,2.0,1,1,3.0,1,1,0.0,1
2,0000210045da4f81e5f122c6bde5c2a617d03eef67f82c...,0.151591,NaN,0.151591,0.151591,0.151591,0.151591,0.005936,NaN,0.005936,...,1,1,1.0,1,1,0.0,1,1,0.0,1
3,00003b41e58ede33b8daf61ab56d9952f17c9ad1c3976c...,0.024789,NaN,0.024789,0.024789,0.024789,0.024789,0.304994,NaN,0.304994,...,1,1,2.0,1,1,4.0,1,1,2.0,1
4,00004b22eaeeeb0ec976890c1d9bfc14fd9427e98c4ee9...,0.025169,NaN,0.025169,0.025169,0.025169,0.025169,0.452606,NaN,0.452606,...,1,1,1.0,1,1,3.0,1,1,0.0,1

In [14]:
train.head()

,customer_ID,B_10_mean,B_10_std,B_10_min,B_10_max,B_10_last,B_10_median,B_11_mean,B_11_std,B_11_min,...,D_126_count,D_126_last,D_126_nunique,D_63_count,D_63_last,D_63_nunique,D_64_count,D_64_last,D_64_nunique,target
0,0000099d6bd597052cdcda90ffabf56573fe9d7c79be5f...,0.316065,NaN,0.316065,0.316065,0.316065,0.316065,0.008733,NaN,0.008733,...,1,2.0,1,1,0.0,1,1,0.0,1,0
1,00000fd6641609c6ece5454664794f0340ad84dddce9a2...,0.299325,NaN,0.299325,0.299325,0.299325,0.299325,0.008047,NaN,0.008047,...,1,2.0,1,1,3.0,1,1,0.0,1,0
2,00001b22f846c82c51f6e3958ccd81970162bae8b007e8...,0.300219,NaN,0.300219,0.300219,0.300219,0.300219,0.005092,NaN,0.005092,...,1,2.0,1,1,3.0,1,1,2.0,1,0
3,000041bdba6ecadd89a52d11886e8eaaec9325906c9723...,0.302809,NaN,0.302809,0.302809,0.302809,0.302809,0.011032,NaN,0.011032,...,1,2.0,1,1,3.0,1,1,0.0,1,0
4,00007889e4fcd2614b6cbe7f8f3d2e5c728eca32d9eb8a...,0.058786,NaN,0.058786,0.058786,0.058786,0.058786,0.004283,NaN,0.004283,...,1,2.0,1,1,3.0,1,1,0.0,1,0